*{
    margin: 0px;
    padding: 0px;
}

.main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left{
    display: flex;
    background-image: url(image/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 45vw;
    color: white;

}

.right{
    display: flex;
    flex-direction: column;
}

.top-container{
    height: 40vh;
    border: 1px solid gainsboro;
    background-color: lightgrey;
}

.form-container{
    height: 30vh;
    border: 1px solid gainsboro;
}


.create-account{
    height: 30vh;
    border: 1px solid gainsboro;
    background-color: lightgrey;

}